/* base */

body {
    font-family: "Castoro", serif;
    line-height: 1.5;
}


/* html tag */

a {
    text-decoration: none;
    display: inline-block;
}

/* container */
.container {
    width: 1296px;
    margin: 0 auto;
}